div.twoColumn {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
}

@media screen and (max-width: 954px) {
  div.twoColumn {
    display: block;
  }
}

/* Sidebar */

div.sidebarColumn {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: grey;
}

div.sidebarColumn > div.sidebarContent {
  color: red;
}

/* Main column */

div.mainColumn {
  grid-column-start: 4;
  grid-column-end: 13;
}

div.mainColumn > div.mainContent {
  color: green;
}
